.arrow {
    border-radius: 10px;
    transition: 0.25s ease;
    padding: 10px;
}

@media (hover: hover) {
    .arrow:hover {
        background: rgb(128, 128, 128);
        transition: 0.25s ease;
        transform: scale(1.2);
    }
}

.arrow:active {
    transition: 0.25s ease;
    background: rgba(128, 128, 128, 0.5);
}