.back-blur-on {
    position: fixed;
    top: 0px;
    left: 1px;
    width: 100vw;
    height: 100vh;
    z-index: 9;
    visibility: visible;
    opacity: 1;
    transition: opacity 0.2s linear;
    background-color: var(--overlay-background-color);
}

.back-blur-off {
    position: fixed;
    top: 0px;
    left: 1px;
    width: 100vw;
    height: 100vh;
    z-index: 9;
    pointer-events: none;
    opacity: 0;
    transition: 0.7s linear 0.2s;
}

.expandable-container {
    position: relative;
    flex: 1;
}

.scroll-clip-overlay-off {
    visibility: hidden;
    opacity: 0;
    overflow: hidden;
    border-radius: var(--border-radius);
    z-index: 12;
}

.scroll-clip-overlay-on {
    visibility: visible;
    opacity: 1;
    overflow: hidden;
    border-radius: var(--border-radius);
    z-index: 12;
    backdrop-filter: blur(10px);
    background-color: var(--overlay-color);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

@media (hover: hover) {
    .scroll-clip:hover {
        filter: contrast(1.2) saturate(0.9);
        box-shadow: var(--blue-1) 0px 0px 0px 2px;
        transition: filter 0.5s ease;
        transition: box-shadow 0.1s ease;
    }
}

.scroll-clip:active {
    
    transform: scale(0.98);
    transition: 0.1s ease;
}

@keyframes press {
    0% {
        filter: brightness(1);
    }
    100% {
        filter: brightness(0.5);
    }
}

.scroll-clip {
    overflow: hidden;
    border-radius: var(--border-radius);
    margin: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    transition: filter 0.5s ease;
    min-width: 40vw;
}

.scrollable {
    margin: 0px;
    word-wrap: break-word;
    overflow-y: scroll;
    scrollbar-color: var(--blue-1) rgba(255, 255, 255, 0);
    scrollbar-width: thin;
    max-height: 70vh;
}

.scrollable::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background-color: transparent
}

.scrollable::-webkit-scrollbar-thumb {
    background-color: var(--blue-1);
    border-radius: var(--border-radius);
}

.noselect {
    -webkit-touch-callout: none;
      -webkit-user-select: none;
       -khtml-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
  }