.gd-image-container-back {
    top:0;
    left:0;
    position: absolute;
    width: 100%;
    height: 100%;
}

.gd-image-container-normal {
    padding: 20px;
}

.gd-image-container-back>img {
    width: 100%;
    height: 100%;
    object-fit:cover;
    filter: blur(5px) brightness(0.5);
}

.gd-image-container-normal>img {
    width: 100%;
    height: 100%;
    object-fit:cover;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.gd-image-invis>img {
    opacity: 0;
    
}

.gd-image-vis>img {
    opacity: 1;
    transition: 1s linear;
}