.gd-image-container-back {
    top:0;
    left:0;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    
}

.gd-image-container-normal {
    
}

.gd-image-container-back>img {
    width: 100%;
    height: 100%;
    object-fit:cover;
    filter: blur(5px) brightness(0.5);
}

.gd-image-container-normal>img {
    width: 100%;
    height: 100%;
    object-fit:contain;
    border-radius: 10px;
    border: 2px solid var(--border-color);
}